@model SolrTesting.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Order</legend>

    <div class="display-label">OrderDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.OrderDate)</div>

    <div class="display-label">DeliveryDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.DeliveryDate)</div>

    <div class="display-label">CustomerName</div>
    <div class="display-field">@Model.CustomerName</div>

    <div class="display-label">OrderName</div>
    <div class="display-field">@Model.OrderName</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


