@model SolrTesting.Models.Order

@{
    ViewBag.Title = "Edit";
}

@section HeadSection {
    <script src="@Url.Content("~/Scripts/datecontrol.js")" type="text/javascript"></script>
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Order</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
